#git files
.gitattributes export-ignore
.gitignore export-ignore

#rdf code
"Output Data/RDF Process" export-ignore

#rsm files
*.rsm export-ignore
*bak.rms export-ignore

# Input data/script for Dev Testing and testbed
"Input Data/DevTesting" export-ignore
"Input Data/TestbedData" export-ignore
AdjustDates.R export-ignore
"Code/" export-ignore

# readme in inflow forecasts folder
"Inflow Forecasts/ReadMe.txt" export-ignore
  
