
rdfOutput/*
!rdfOutput/ReadMe.txt
!rdfOutput/output.control
ReportFiles

MTOM_Overview_Description.pdf
MTOM_Stakeholder_User_Manual.pdf

# ignore other backup files of zipped rules, models, and RiverSMART files
*.bak.gz
*.bak
*bak.rms

# ignore testbed study, but not dev testing tool
MTOM_Testbed_*.rsm

# generic files not to track
#excel backup files
*~$*

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini
# Recycle Bin used on file shares
$RECYCLE.BIN/
# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Operating System Files
# OSX
.DS_Store
.AppleDouble
.LSOverride
# Icon must ends with two \r.
Icon
# Thumbnails
._*

# RStudio Folder
.RData
.Rhistory
**.Rproj
.Rproj.user

!RW Files*

#pass through sheets 
/Output Data/EnsembleOutput.xlsx

# Testbed Forecasts and IC data
/Inflow Forecasts/Testbed_Historical_Forecasts
/Input Data/Historical_Diversions.xlsx
/Input Data/Observed_for_MTOM_IC.xlsx
/Input Data/TestbedData

# SCT folder
/RW Files/SCTs

# RiverSMART folders and files
/Hydrology
/Model
/Scenario
/ScenarioSet
/Working
